<script id="sidebarTop" type="text/x-jsrender">
    <div class="col-xs-12">
    <div class="form">
    <div class="form-group">
      <label>Project</label>
      <%= select_tag 'projects', options_for_select(@projects.map { |v| [v.name, v.id] }), class: 'form-control projects' %>
    </div>
    <div class="form-group">
      <label>Version</label>
      <%= select_tag 'versions', options_for_select(@versions.map { |v| [v.name, v.id] }), class: 'form-control versions' %>
    </div>
    </div>
    </div>
</script>


<script id="mainToolbar" type="text/x-jsrender">
  <div class="box" style="margin-bottom: 0px">
    <div class="box-body">
      <div class="col-xs-12">
        <div class="btn-group">
          <%= link_to '#', id: 'addingNewCodeTable', class: "btn btn-default" do %>
            New Code Table
          <% end %>
          <%= link_to '#', id: 'destroyCodeTable', class: "btn btn-default divisionControl hide" do %>
            Remove Code Table
          <% end %>
          <%= link_to '#', class: "btn btn-default" do %>
            Table Settings
          <% end %>
          <%= link_to '#', class: "btn btn-default" do %>
            Project Settings
          <% end %>
        </div>
      </div>
    </div><!-- /.box-body -->
  </div>
</script>


<script id="schemaColumnEditViewForm" type="text/x-jsrender">
  <div class="w2ui-page page-0">
    <div class="w2ui-field">
      <label>App Level Relation:</label>
      <div>
        <input name="application_relation" type="text" maxlength="255" style="width: 100%"/>
      </div>
    </div>
    <div class="w2ui-field">
      <label>Example:</label>
      <div>
        <textarea name="example" type="text" style="width: 100%; height: 120px"/>
      </div>
    </div>
    <div class="w2ui-field">
      <label>Note:</label>
      <div>
        <textarea name="note" type="text" style="width: 100%; height: 120px"/>
      </div>
    </div>
  </div>
  <div class="w2ui-buttons">
    <button class="btn" name="reset">Reset</button>
    <button class="btn" name="save">Save</button>
  </div>
</script>

<script id="newDivisionViewForm" type="text/x-jsrender">
  <div class="w2ui-page page-0">
    <div class="w2ui-field">
      <label>Code Table Name:</label>
      <div>
        <input name="name" type="text" maxlength="255" style="width: 100%"/>
      </div>
    </div>
    <div class="w2ui-field">
      <label>Description:</label>
      <div>
        <textarea name="description" type="text" style="width: 100%; height: 120px"/>
      </div>
    </div>
  </div>
  <div class="w2ui-buttons">
    <button class="btn" name="save">Save</button>
  </div>
</script>
