<div id="sidebarTop" class="hide">
  <div style="padding: 10px 5px; border-bottom: 1px solid silver">

    <div class="row">
    <div class="col-xs-12">
    <div class="form">
    <div class="form-group">
      <label>Project</label>
      <%= select_tag 'projects', options_for_select(["TestProject", 1]), class: 'form-control' %>
    </div>
    <br>
    <div class="form-group">
      <label>Version</label>
      <%= select_tag 'histories', options_for_select(["Version: 1", 1]), class: 'form-control' %>
    </div>
    </div>
    </div>
    </div>

  </div>
</div>


<div id="mainToolbar" class="hide">
  <div class="box" style="margin-bottom: 0px">
    <div class="box-body">
      <div class="col-xs-6">
        <div class="btn-group">
          <%= link_to '#', class: "btn btn-default" do %>
            Diff
          <% end %>
          <%= link_to '#', class: "btn btn-default" do %>
            Table Settings
          <% end %>
          <%= link_to '#', class: "btn btn-default" do %>
            Import
          <% end %>
          <%= link_to '#', class: "btn btn-default" do %>
            Project Settings
          <% end %>
        </div>
      </div>

      <div class="col-xs-6">
        <p>
          Tableの説明がここに入ります
        </p>
      </div>
    </div><!-- /.box-body -->
  </div>
</div>
