<header class="main-header">
  <nav class="navbar navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><%= image_tag 'bee.png', height: '50px', alt: 'DeeBee' %></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div id="navbar-collapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li>
            <%= link_to root_path do %>
              <i class="fa fa-database mr-5"></i> Projects
            <% end %>
          </li>
          <li>
            <%= link_to '#' do %>
              <i class="fa fa-table mr-5"></i> Schema
            <% end %>
          </li>
          <li>
            <%= link_to '#' do %>
              <i class="fa fa-exchange mr-5"></i> Diff
            <% end %>
          </li>
          <li>
            <%= link_to '#' do %>
              <i class="fa fa-history mr-5"></i> History
            <% end %>
          </li>
          <li>
            <%= link_to '#' do %>
              <i class="fa fa-cloud-download mr-5"></i> Import
            <% end %>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="" class="animsition-link"><b><%= "DummyUser" %></b> </a></li>
          <li><%= link_to 'Logout', sign_out_path, class: 'animsition-link' %></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</header>
