<div class="content-wrapper">
  <section class="content-header ml-10">
    <h1>
      ファイルインポート STEP2
      <small>
        <%= @project.name %> へのデータ取り込み設定
      </small>
    </h1>
  </section>

<div class="content">
<div class="col-xs-12">

<div class="box box-primary">
  <div class="box-header">
    <h3 class="box-title">
      以下のファイルを取り込んでもよろしいですか。
    </h3>
  </div><!-- /.box-header -->

  <!-- form start -->
  <div class="box-body">
    <%= simple_form_for @form, url: project_imports_path(project_id: @project.id) do |fp| %>
      <%= fp.input :locale, as: :hidden %>
      <table class="table table-hover">
        <tbody><tr>
            <th>ステータス</th>
            <th>変数名</th>
            <th>日本語</th>
            <th>英語</th>
          </tr>
          <%= fp.simple_fields_for :items do |f| %>
            <%= f.input :sync_mode, as: :hidden %>
            <%= f.input :variable_name, as: :hidden %>
            <%= f.input :ja, as: :hidden %>
            <%= f.input :en, as: :hidden %>
            <tr>
              <td>
                <% if f.object.sync_mode == :delete %>
                  <span class="label label-danger">削除</span>
                <% elsif f.object.sync_mode == :create %>
                  <span class="label label-success">新規作成</span>
                <% elsif f.object.sync_mode == :update %>
                  <span class="label label-warning">更新</span>
                <% elsif f.object.sync_mode == :stable %>
                  <span class="label label-primary">変更点無し</span>
                <% end %>
              </td>
              <td><%= f.object.variable_name %></td>
              <td>
                <% if f.object.sync_mode == :update && fp.object.locale.to_s == 'ja' %>
                  <%= f.object.original_translation.ja %> <br><br>
                  <i class="fa fa-long-arrow-down"></i> <br><br>

                  <%= f.object.ja %>
                <% else %>
                  <%= f.object.ja || f.object.original_translation.try(:ja) %>
                <% end %>
              </td>
              <td>
                <% if f.object.sync_mode == :update && fp.object.locale.to_s == 'en' %>
                  <%= f.object.original_translation.en %> <br><br>
                  <i class="fa fa-long-arrow-down"></i> <br><br>

                  <%= f.object.en %>
                <% else %>
                  <%= f.object.en || f.object.original_translation.try(:en) %>
                <% end %>
              </td>
          </tr>
        <% end %>
    </tbody></table>
    </div><!-- /.box-body -->

  <div class="box-footer">
    <%= fp.button :submit, '取り込む' %>
  </div>
  <% end %>
</div>


</div>
</div><!-- /content -->

</div> <!-- /content-wrapper-->
