<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "DeeBee" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= include_gon %>
  </head>
  <body class="" data-controller="<%= params[:controller] %>">
    <div id="header" class="frame-element">
      <%= render 'shared/topnav' %>
    </div>

    <div class="frame-element" id="main-window">
    </div><!-- /main-container -->

    <%= yield %>

    <%= javascript_include_tag "application" %>
  </body>
</html>
