<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Trans1" %> | I18n Quality Management System</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= include_gon %>
    <%= javascript_include_tag "application" %>
  </head>
  <body class="skin-blue layout-top-nav" data-controller="<%= params[:controller] %>">
    <div id="trans-header" class="frame-element">
      <%= render 'shared/topnav' %>
    </div>

    <div class="main-container frame-element animsition">
      <%= yield %>
    </div><!-- /main-container -->

    <div id="trans-footer" class="frame-element">
      <%= render 'shared/footer' %>
    </div><!-- /trans-footer -->
  </body>
</html>
